*{
   box-sizing: border-box;
   padding: 0;
   margin: 0; 
}

.header{
    height: 60px;
    width: 100%;
    padding: 13px;
    background: #000;
    color: #fff;
    display: flex;
}

.image{
    height: 36px;
    width: 98px;
    margin-top: 4px;
    margin-left: 5px;
}

.innn{
    color: white;
    text-decoration: none;
    font-style: none;
    
}

.bi{
    margin-left: 13px;
    margin-top: 15px;
    margin-right: .0px;
   
}

.hello{
    font-size: 13px;
    margin-left: 20px;
}

.address{
    font-weight: bolder;
    font-size: 15px;
    padding-bottom: 12px;
}

.nav-search-dropdown{
    margin-left: 13px;
    width: 45px;
    outline: #febd69;
    border-radius: 6px 0px 0px 6px;
}

.Search{
    width: 500px;
}

.Searchbutton{
    height: 35px;
    width: 45px;
    border-radius: 0px 5px 5px 0px;
    background: #febd69;
}

.bi2{
    height: 20px;
    width: 30px;
   
}

.indianglag{
    height: 20px;
    margin-left: 20px;
}

.down-nav-arrow{
    height: 10px;
    width: 10px;
}

.Account{
    margin-left: 10px;
    font-size: 14px;
}

.Lists{
    margin-left: 100px;
}

#nav-img{
    width: 1366px;
}